<div fxLayout="row" fxLayoutAlign="center">
    <div fxLayout="column" fxFlex="1000px">
        <form class="mt-60" #searchForm="ngForm">
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-title>
                        Consult
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="mt-20">
                    <div fxLayout="row">
                        <div fxLayout="column" fxFlex="950px">
                            <mat-form-field class="full-width">
                                <mat-label>Name:</mat-label>
                                <input matInput placeholder="Vinicius">
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-flat-button color="primary">
                        <mat-icon fontIcon="search"></mat-icon>
                        Search
                    </button>
                </mat-card-actions>
            </mat-card>
        </form>
    </div>
</div>